@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,500');

/* Global */

html {
  font-size: 20px;
}
body {
  display: block;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  line-height: 1.15em;
  margin: 0;
}
p {
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.025rem
}
h1 {
  font-size: 2rem;
  font-weight: 500;
}
h2 {
  font-size: 1.75rem;
  font-weight: 500;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
a {
  color: #666;
  text-decoration: none;
}
button:focus {
  outline: 0;
}

/* Header */

.site-header {
  background-color: #FFF;
  display: flex;
  position: fixed;
  font-size: 18px;
  left: 0;
  overflow: hidden ;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index: 900;
  -ms-transition: height 1s ;
  -moz-transition: height 1s ;
  -webkit-transition: height 1s ;
  -o-transition: height 1s ;
  transition: height 0.5s ;
}

.title {
  color: #000;
  margin: 30px 0;
  z-index: 1000;
}
.title > div {
  padding: 0 60px;
}
.navigation {
  margin: 30px 0;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.navigation > span {
  cursor: pointer;
  padding: 0 30px;
  position: relative;
  z-index: 900;
}
.slide-menu {
  background-color: #FFF;
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: height 1s ;
  -ms-transition: height 1s ;
  -webkit-transition: height 1s ;
  -o-transition: height 1s ;
  transition: height 1s ;
  width: 50%;
  z-index: 800;
}
.slide-menu > ul {
  list-style: none;
  margin-top: 100px;
  padding: 0 30px ;
}
.slide-menu > ul > li {
  font-size: 36px;
}
.slide-menu > ul > li > a {
  color: #000;
}
.menu-icon {
  background: transparent;
  border: 0;
  cursor: pointer;
  float: right;
  height: 24px;
  margin-right: 60px;
  padding: 0;
  position: relative;
  width: 24px;
  z-index: 900;
}
.menu-icon span {
  background-color: #000;
  display: block;
  height: 2px;
  position: absolute;
  width: 24px;
  -ms-transition: -webkit-transform 0.2s;
  -moz-transition: -webkit-transform 0.2s;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.menu-icon span:first-child {
  top: 4px;
}
.menu-icon span:nth-child(2) {
  top: 10px;
}
.menu-icon span:last-child {
  top: 16px;
}
.active span:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
}
.active span:last-child {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
}
.active span:nth-child(2) {
  opacity: 0;
}

/* Main */

main {
  margin-top: 84px;
}
.container {
  margin: 0 30px;
}
.main article {
  opacity: 0;
}
.main li img, .nextprev-navigation li img {
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
.main li:hover article {
  opacity: 1;
}
.main li:hover img {
  transform: scale(1.05);
}

/* Grid */

.grid {
  list-style: none;
  margin: -4px;
  width: calc(100% + 8px);
}
.grid::after{
  clear: both;
  content: " ";
  display: block;
  height: 0;
}
.grid li {
  float: left;
  margin: 4px; 
  overflow: hidden;
  position: relative;
  width: calc(50% - 8px);
}
.grid li img {
  display: block;
  height: auto;
  margin: auto;
  width: 102%;
}
.grid article {
  background-color: rgba(0, 0, 0, 0.55);
  color: #FFF;
  display: table;
  height: 100%;
  left:0;
  /* outline: 4px solid white;
  outline-offset: -4px; */
  position: absolute;
  top: 0;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  width: 100%;
}
.grid article header {
  display: table-cell;
  padding: 0 30px;
  vertical-align: middle;
}
.grid article header p {
  margin-bottom: 5px;
}

/* Project Page */

.avatar {
  overflow: hidden;
  margin: 0 auto;
  max-width: 400px;
}
.avatar > img {
  width: 100%;
  border-radius: 50%;
  box-sizing: border-box;
}
.intro-text {
  font-size: 1.5rem;
  font-weight: 500 !important;
}

.project {
  display: flex;
  flex-wrap: wrap;
}
.project-content, .project-details, .intro-text {
  margin: 75px 30px;
  width: calc(50% - 60px);
}
.project-details > * {
  margin-bottom: 0.5em;
}
.date {
  font-weight: 500;
}
.informations {
  font-size: 0.8rem;
}

.project-details > .info {
  display: flex;
  margin-bottom: 30px;
}
.info > p {
  width: 50%;
}
.project-content p {
  margin-bottom: 15px;
}
.swipe {
  overflow: hidden;
  position: relative;
  visibility: hidden;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  position: relative;
  width:100%;
}
.swipe-wrap > div > img {
  max-width: 100%;
}
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  max-width: 100%;
  height: 0;
}
.video .video-thumb {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video .video-thumb #play-button {
  cursor: pointer;
  z-index: 250;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: 134px;
  height: 134px;
  text-indent: -9999px;
  border: 3px solid white;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-transform: translate3d(-67px, -67px, 0px) scale3d(1, 1, 1);
  -ms-transform: translate3d(-67px, -67px, 0px) scale3d(1, 1, 1);
  -webkit-transform: translate3d(-67px, -67px, 0px) scale3d(1, 1, 1);
  transform: translate3d(-67px, -67px, 0px) scale3d(1, 1, 1);
  -moz-transition: -moz-transform 0.2s , opacity 0.2s;
  -ms-transition: -ms-transform 0.2s, opacity 0.2s;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -o-transition: -o-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;

 }
.video .video-thumb #play-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 44px solid white;
  -moz-transform: translate3d(-16px, -28px, 0px);
  -ms-transform: translate3d(-16px, -28px, 0px);
  -webkit-transform: translate3d(-16px, -28px, 0px);
  -o-transform: translate3d(-16px, -28px, 0px);
  transform: translate3d(-16px, -28px, 0px);
}
.video iframe {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nextprev-navigation {
  margin-top : 90px;
}
.next {
  float: right;
}
.nextprev-navigation article {
  opacity: 1;
}
.nextprev-navigation li:hover article {
  opacity: 0;
}
.nextprev-navigation li:hover img {
  transform: scale(1.05);
}
.previous {
  float: left;
}
/*  Loader */

.loader {
  background-color: #FFF;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
  -moz-transition : opacity 1s;
  -ms-transition : opacity 1s;
  -webkit-transition : opacity 1s;
  -o-transition : opacity 1s;
  transition: opacity 1s;
}
.logo {
  height: 58px;
  width: 58px;
  position: fixed;
  bottom: 60px;
  left: 60px;
  z-index: 9999;
}
.loading{
  -moz-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
	-webkit-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  	0% { -webkit-transform: rotate(0deg); }
  	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  	0% { transform: rotate(0deg); }
  	100% { transform: rotate(360deg); }
}
/* Footer */

footer{
  position: relative;
  margin: 60px 0;
}
footer .footer-info {
  box-sizing: border-box;
  height: auto;
  list-style: none;
  display: block;
  padding: 0 30px;
  position: relative;
  float: right;
  width: 50%;
}
footer::after{
  clear: both;
  content: " ";
  display: block;
  height: 0;
}

/* Mobile Sizes */

@media only screen and (max-width:960px) {

  html {
    font-size: 17.5px;
  }

  .grid li {
    width: calc(100% - 8px);
  }
  
  .project-content, .project-details, .intro-text {
    margin: 45px 15px;
    width: 100%;
  }

  .navigation {
    width: auto;
  }

  .navigation > span {
    display: none;
  }

  .slide-menu {
    width: 100%;
  }

  .slide-menu > ul {
    padding: 0 45px;
  }

  .title > div {
    padding: 0 45px;
  }

  .menu-icon {
    margin-right: 45px;
  }
  
  .grid article header {
    display: table-cell;
    padding: 0 15px;
    vertical-align: middle;
  }

  .logo {
    bottom: 45px;
    left: 45px;
  }

  footer .footer-info {
    width: 100%;
    margin-bottom: 100px;
    padding: 0 45px;
  }

}

@media only screen and (max-width:570px) {

  html {
    font-size: 15px;
  }

  .title, .navigation {
    margin: 15px 0;
  }
  .title > div {
    padding: 0 0 0 30px;
  }
  .slide-menu > ul {
    padding: 0 30px;
  }
  .menu-icon {
    margin-right: 30px;
  }

  main {
    margin-top: 54px;
  }
  .container {
    margin: 0 15px;
  }
  .project-content, .project-details {
    margin: 30px 15px;
    width: 100%;
  }
  .logo {
    display: none;
  }

  footer .footer-info {
    width: 100%;
    margin-bottom: 0px;
    padding: 0 30px;
  }

}
