@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,500');

/* Global */

html,
body {
  display: block;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, p {
  letter-spacing: 0.03em;
  line-height: 1.25em;
  margin: 0;
}
p {
  font-weight: 300;
}
h1 {
  font-size: 48px;
  font-weight: 500;
}
h2 {
  font-size: 36px;
  font-weight: 500;
}
h3 {
  font-size: 30px;
  font-weight: 300;
}
a {
  color: #666;
  text-decoration: none;
}
button:focus {
  outline: 0;
}

/* Header */

.site-header {
  background-color: #FFF;
  display: flex;
  position: fixed;
  font-size: 18px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 900;
}

.title {
  color: #000;
  margin: 30px 0;
  width: 50%;
}
.title > div {
  padding: 0 60px;
}
.navigation {
  cursor: pointer;
  margin: 30px 0;
  width: 50%;
}
.navigation > span {
  cursor: pointer;
  padding: 0 60px;
  position: relative;
  z-index: 900;
}
.slide-menu {
  background-color: #FFF;
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: height 1s ;
  width: 50%;
  z-index: 800;
}
.slide-menu > ul {
  list-style: none;
  margin-top: 100px;
  padding: 0 60px;
}
.slide-menu > ul > li {
  font-size: 36px;
}
.slide-menu > ul > li > a {
  color: #000;
}
.menu-icon {
  background: transparent;
  border: 0;
  cursor: pointer;
  float: right;
  height: 24px;
  margin-right: 60px;
  padding: 0;
  position: relative;
  width: 24px;
  z-index: 900;
}
.menu-icon span {
  background-color: #000;
  display: block;
  height: 2px;
  position: absolute;
  transition: all 200ms ease-in-out;
  width: 24px;
  -webkit-transition: -webkit-transform 0.2s;
  -webkit-transition: all 200ms ease-in-out;
}
.menu-icon span:first-child {
  top: 4px;
}
.menu-icon span:nth-child(2) {
  top: 10px;
}
.menu-icon span:last-child {
  top: 16px;
}
.active span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
}
.active span:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
}
.active span:nth-child(2) {
  opacity: 0;
}

/* Main */

main {
  margin-top: 84px;
}

/* Grid */

.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 30px;
  padding: 0;
  width: calc(100% - 60px);
}
.grid > li {
  width: 50%;
}
.grid article {
  position: relative;
}
.grid article header {
  background-color: rgba(0, 0, 0, 0.55);
  color: #FFF;
  height: calc(100% - 120px);
  left:0;
  opacity: 0;
  padding: 60px;
  position: absolute;
  top: 0;
  width: calc(100% - 120px);
}
.grid img {
  display: block;
  height: auto;
  width: 100%;
}

/* Project Page */

.project {
  display: flex;
  flex-wrap: wrap;
}
.project-content, .project-details {
  margin: 90px 60px;
  width: calc(50% - 120px);
}
.project-details > h1 {
  margin-bottom: 30px;
}
.project-details > .info {
  display: flex;
  margin-bottom: 30px;
}
.info > p {
  width: 50%;
}
.project-content p {
  margin-bottom: 15px;
}
.swipe {
  margin: 0 30px;
  overflow: hidden;
  position: relative;
  visibility: hidden;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  position: relative;
  width:100%;
}
.swipe-wrap > div > img {
  max-width: 100%;
}
